/**
 * This file is for any scss that you may want for this visualizer.
 */
.asset-manager {
  outline: none; }
  .asset-manager.read-only .top-bar .create-btn {
    display: none; }
  .asset-manager.read-only table .action-btn {
    cursor: not-allowed; }
    .asset-manager.read-only table .action-btn.delete-btn {
      color: gray; }
  .asset-manager .top-bar {
    display: inline-flex;
    margin-bottom: 8px; }
    .asset-manager .top-bar .top-bar-title {
      font-size: 24px; }
    .asset-manager .top-bar .input-group {
      width: 200px;
      position: absolute;
      left: calc(50% - 200px); }
      .asset-manager .top-bar .input-group * {
        font-size: 12px; }
    .asset-manager .top-bar .create-btn {
      position: absolute;
      top: 10px;
      right: 36px;
      font-size: 40px;
      color: green;
      cursor: pointer; }
  .asset-manager table {
    width: 100%;
    font-size: 14px; }
    .asset-manager table .glyphicon {
      padding: 5px; }
    .asset-manager table .in-place-edit {
      font-size: 14px !important; }
    .asset-manager table .action-btn {
      cursor: pointer; }
      .asset-manager table .action-btn.delete-btn {
        color: darkred; }
    .asset-manager table th {
      font-weight: bold; }
      .asset-manager table th.header-name {
        cursor: pointer; }
    .asset-manager table td.row-name {
      min-width: 80px;
      width: calc(10% - 20px); }
    .asset-manager table td.row-desc {
      width: calc(45% - 20px);
      font-style: italic; }
    .asset-manager table td.row-asset {
      min-width: 200px;
      width: calc(35% - 20px); }
      .asset-manager table td.row-asset .asset-widget {
        width: 100%;
        height: 40px;
        background-color: transparent; }
        .asset-manager table td.row-asset .asset-widget .blob-download-link {
          padding-top: 14px;
          font-size: 12px; }
    .asset-manager table td.row-edit {
      width: 60px; }
    .asset-manager table tr:hover {
      background-color: #1b7ebb26; }
